.buisiness-offer {
  position: relative;
  margin-top: -25px;
  padding: 34px 25px 39px 50px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
  z-index: 7;
}

.buisiness-offer__title {
  position: relative;
  width: 70%;
  margin-bottom: 44px;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: 0;
    right: -73px;
    background-image: url("../img/rates@1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
  }
}

.buisiness-offer__list {
  width: 205px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 31px;
}

.buisiness-offer__link {
  position: relative;
  display: block;
  margin: 0 auto;
  line-height: 16px;
  font-weight: 700;
  color: #192144;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px solid blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .buisiness-offer {
    margin-top: -55px;
    padding: 120px 40px 76px 40px;
    background-position: 583px 428px;
    border-radius: 0 0 60px 60px;
  }

  .buisiness-offer__wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .buisiness-offer__title {
    width: auto;
    margin-bottom: 80px;
    padding: 0;
    font-size: 45px;
    line-height: 45px;
    text-align: center;

    &::after {
      top: 350px;
      right: 45px;
    }
  }

  .buisiness-offer__list {
    box-sizing: border-box;
    width: auto;
    margin-bottom: 56px;

    &::after {
      position: absolute;
      content: "";
      width: 200px;
      height: 290px;
      top: -40px;
      right: 0;
      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }

  .buisiness-offer__link {
    min-width: 80%;
    padding-left: 87px;
    font-size: 20px;
    line-height: 20px;
    color: #132576;
    text-align: left;

    &::after {
      position: absolute;
      content: "";
      width: 67px;
      height: 67px;
      top: -25px;
      left: 0;
      background-color: #e2e5f2;
      border-radius: 50%;
      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-size: 17px 21px;
      background-position: 50% 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .buisiness-offer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 140px 132px 185px 132px;
  }

  .buisiness-offer__title {
    margin-bottom: 130px;

    &::after {
      width: 200px;
      height: 200px;
      top: 180px;
      right: 0;
    }
  }

  .buisiness-offer__list {
    width: 915px;
    margin: 0;
    margin-right: auto;
    margin-bottom: 60px;

    &::after {
      width: 445px;
      height: 300px;
      top: -45px;
      right: -120px;
      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }
}
