.countries-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  background-color: #e2e5f2;
}

.countries-list__item {
  margin-bottom: 6px;
}

.countries-list__item:last-child {
  margin-bottom: 0;
}

.countries-list__link {
  font-weight: 500;
  color: #444444;
}
