.country__wrapper {
  padding: 29px 25px;
}

.country__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #161c35;
}

.country__slogan {
  line-height: 18px;
  font-weight: 500;
  color: rgba(68, 68, 68, 0.3);
}

.country__tourists {
  line-height: 30px;
  font-weight: 500;
  color: rgba(68, 68, 68, 0.3);
}
