.country {
  position: relative;
  width: 270px;
  margin: 0 auto;
}

.country__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  margin-top: -10px;
  padding: 29px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 2;
}

.country__image-wrapper {
  line-height: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.country__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #161c35;
}

.country__slogan {
  line-height: 18px;
  font-weight: 500;
  color: rgba(68, 68, 68, 0.3);
}

.country__tourists {
  position: absolute;
  top: 30px;
  right: 25px;
  padding-left: 20px;
  line-height: 30px;
  font-weight: 500;
  color: rgba(68, 68, 68, 0.3);

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    top: 8px;
    left: 0;
    background-image: url("../img/user.svg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.country__flag {
  position: absolute;
  top: 87px;
  left: 25px;
  z-index: 3;
  background-color: red;
  width: 35px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .country {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .country__title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
  }

  .country__slogan {
    font-size: 20px;
  }

  .country__image-wrapper {
    order: 1;
    box-sizing: border-box;
    width: 186px;
    height: 140px; //временный размер
    background-color: blue;
    border-radius: 0 20px 20px 0;
  }

  .country__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 19px;
    width: 435px;
    border-radius: 20px 0 0 20px;
  }

  .country__wrapper-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .country__flag {
    top: 15px;
    left: 390px;
    width: 70px;
    height: 47px;
  }

  .country__tourists {
    position: relative;
    padding-left: 30px;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 5px;
      width: 20px;
      height: 20px;
    }
  }
}
