.countries {
  padding: 73px 25px 25px;
  background-color: #edeff6;
  color: #444444;
}

.countries__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.countries__description {
  margin: 0;
  margin-bottom: 65px;
}

.countries__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countries__item {
  margin-bottom: 10px;
}
