.filter-companions {
  margin-bottom: 28px;
  padding: 25px 25px 22px;
  background-color: #ffd74b;
}

.filter-companions__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 23px;
  line-height: 23px;
  color: #1d2e5b;
}
