.main-nav {
  display: none;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  display: flex;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  width: 33%;
  text-align: center;
}

.main-nav__item:last-child {
  margin-bottom: 0;
}

.main-nav__link {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: -80px;
      width: 60px;
      height: 2px;
      background-color: #ffffff;
      border-radius: 1px;
    }
  }

  .main-nav__item {
    margin-right: 33px;
  }

  .main-nav__item:last-child {
    margin-right: 0;
  }
}
