.page-footer {
  padding: 38px 25px 14px;
  background-color: #ffffff;
}

.page-footer__socials {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 14px;
}

.page-footer__developer {
  color: #444444;
}
