.user {
  padding: 22px 25px 35px;
  color: #444444;
  background-color: #edeff6;
}

.user__info-wrapper {
  background-color: #edeff6;
  margin-bottom: 20px;
}

.user__info-button {
  margin-bottom: 28px;
}

.user__fieldset {
  margin-bottom: 20px;
}

.user__fieldset:last-of-type {
  margin-bottom: 0;
}
